@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

body {
    background-color: rgb(97, 79, 168);
}

video {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}
p {
    text-align: center;
    font-family: monospace;
}
