@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

body {
    background-color: rgb(97, 79, 168);
}

h1 {
    font-family: 'Fredoka', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}